version: '3.5'
service:
        nginx-app:
          image: nginx
          container_name: mynginx01
          ports:
            - '80:80'
          restart: unless-stopped
          networks:
            - internet
            - appnet

        app-db:
          image: mysql
          container: mysqldb
          restart: unless-stopped
          networks:
            - appnet
          environment:
            - 'MYSQL_PASSWORD=mypassword'

        app-redis:
          image: redis
          container_name: redisdb
          restart: unless-stopped
          networks:
            - appnet

networks:
  internet:
    name: internet
    driver: bridge
  appnet:
    name: appnet
    driver: bridge
